## Part 1: Cleaning dataset for initial analysis

In [1]:
# Dependencies
import pandas as pd
from pathlib import Path
import csv
import os
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
# Files to load
aug_22 = pd.read_csv("Resources/AUG-22_ONTIME_REPORTING.csv")
sep_22 = pd.read_csv("Resources/SEP-22_ONTIME_REPORTING.csv")
oct_22 = pd.read_csv("Resources/OCT-22_ONTIME_REPORTING.csv")
nov_22 = pd.read_csv("Resources/NOV-22_ONTIME_REPORTING.csv")
dec_22 = pd.read_csv("Resources/DEC-22_ONTIME_REPORTING.csv")
jan_23 = pd.read_csv("Resources/JAN-23_ONTIME_REPORTING.csv")
feb_23 = pd.read_csv("Resources/FEB-23_ONTIME_REPORTING.csv")
mar_23 = pd.read_csv("Resources/MAR-23_ONTIME_REPORTING.csv")
apr_23 = pd.read_csv("Resources/APR-23_ONTIME_REPORTING.csv")
may_23 = pd.read_csv("Resources/MAY-23_ONTIME_REPORTING.csv")
jun_23 = pd.read_csv("Resources/JUN-23_ONTIME_REPORTING.csv")
jul_23 = pd.read_csv("Resources/JUL-23_ONTIME_REPORTING.csv")
aug_23 = pd.read_csv("Resources/AUG-23_ONTIME_REPORTING.csv")

In [3]:
# Joining data
frames = [
    aug_22, 
    sep_22,
    oct_22,
    nov_22,
    dec_22,
    jan_23,
    feb_23,
    mar_23,
    apr_23,
    may_23,
    jun_23,
    jul_23,
    aug_23
]

pd.set_option('display.max_columns', None)

combined_df = pd.concat(frames)

In [4]:
# Data checkpoint
combined_df.shape

(7368518, 28)

In [5]:
# Date checkpoint
combined_df.head(5)

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST_AIRPORT_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2022,8,1,1,8/1/2022 12:00:00 AM,9E,4628,15919,XNA,"Fayetteville, AR",AR,12953,LGA,"New York, NY",NY,-2.0,0.0,0.0,-4.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2022,8,1,1,8/1/2022 12:00:00 AM,9E,4630,13342,MKE,"Milwaukee, WI",WI,10721,BOS,"Boston, MA",MA,-6.0,0.0,0.0,-18.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2022,8,1,1,8/1/2022 12:00:00 AM,9E,4631,14492,RDU,"Raleigh/Durham, NC",NC,12478,JFK,"New York, NY",NY,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2022,8,1,1,8/1/2022 12:00:00 AM,9E,4632,11042,CLE,"Cleveland, OH",OH,10721,BOS,"Boston, MA",MA,-5.0,0.0,0.0,-28.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2022,8,1,1,8/1/2022 12:00:00 AM,9E,4634,10397,ATL,"Atlanta, GA",GA,13422,MOB,"Mobile, AL",AL,-6.0,0.0,0.0,-17.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [6]:
# Drop unneeded columns
updated_df = combined_df.drop(columns=['OP_CARRIER_FL_NUM', 
                                       'ORIGIN_AIRPORT_ID', 
                                       'ARR_DELAY', 
                                       'ARR_DELAY_NEW', 
                                       'ORIGIN_STATE_ABR', 
                                       'DEP_DELAY_NEW', 
                                       'DEST_AIRPORT_ID',
                                       'DEST_STATE_ABR',
                                       'DEP_DELAY',
                                       'CARRIER_DELAY',
                                       'LATE_AIRCRAFT_DELAY',
                                       'SECURITY_DELAY',
                                       'NAS_DELAY',
                                       'WEATHER_DELAY',
                                       'CARRIER_DELAY',
                                       'CANCELLED',
                                       'DIVERTED',
                                       'FL_DATE'
                                      ])

In [7]:
# Data checkpoint
updated_df.head(5)

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_DEL15,ARR_DEL15
0,2022,8,1,1,9E,XNA,"Fayetteville, AR",LGA,"New York, NY",0.0,0.0
1,2022,8,1,1,9E,MKE,"Milwaukee, WI",BOS,"Boston, MA",0.0,0.0
2,2022,8,1,1,9E,RDU,"Raleigh/Durham, NC",JFK,"New York, NY",NaN,NaN
3,2022,8,1,1,9E,CLE,"Cleveland, OH",BOS,"Boston, MA",0.0,0.0
4,2022,8,1,1,9E,ATL,"Atlanta, GA",MOB,"Mobile, AL",0.0,0.0

### Column Definitions

* YEAR = Year of Flight
* MONTH = Month of Flight
* DAY_OF_MONTH = Day of Month
* DAY_OF_WEEK = Day of Week
* OP_CARRIER = Carrier Name
* ORIGIN = Origin Airport Code
* ORIGIN_CITY_NAME = Origin City and State
* DEST = Destination Airport Code
* DEST_CITY_NAME = Destination City and State
* DEP_DEL15 = Departure Delay (0 = No, 1 = Yes)
* ARR_DEL15 = Arrival Delay (0 = No, 1 = Yes)

In [8]:
# Drop NA entries
cleaned_df = updated_df.dropna()

In [9]:
# Data checkpoint
cleaned_df.isna().sum()

YEAR                0
MONTH               0
DAY_OF_MONTH        0
DAY_OF_WEEK         0
OP_CARRIER          0
ORIGIN              0
ORIGIN_CITY_NAME    0
DEST                0
DEST_CITY_NAME      0
DEP_DEL15           0
ARR_DEL15           0
dtype: int64

In [10]:
# Data checkpoint
cleaned_df.shape

(7209412, 11)

In [11]:
# Remap DAY_OF_WEEK values
day_dict = {1 : 'Monday', 
            2 : 'Tuesday', 
            3 : 'Wednesday', 
            4 : 'Thursday', 
            5 : 'Friday', 
            6 : 'Saturday',
            7 : 'Sunday'
           }
 
cleaned_df = cleaned_df.replace({"DAY_OF_WEEK": day_dict})

In [12]:
# Remap OP_CARRIER values
carrier_dict = {'WN' : 'Southwest Airlines',
                'DL' : 'Delta Air Lines',
                'AA' : 'American Airlines',
                'UA' : 'United Air Lines',
                'OO' : 'SkyWest Airlines',
                'YX' : 'Republic Airline',
                'B6' : 'JetBlue Airways',
                'NK' : 'Spirit Air Lines',
                'AS' : 'Alaska Airlines',
                'MQ' : 'Envoy Air',
                '9E' : 'Endeavor Air',
                'OH' : 'PSA Airlines',
                'F9' : 'Frontier Airlines',
                'G4' : 'Allegiant Air',
                'HA' : 'Hawaiian Airlines',
                'YV' : 'Mesa Airlines',
                'QX' : 'Horizon Air'
               }

cleaned_df = cleaned_df.replace({"OP_CARRIER": carrier_dict})

In [13]:
# Remap MONTH values
month_dict = {1 : 'JAN', 
              2 : 'FEB', 
              3 : 'MAR', 
              4 : 'APR', 
              5 : 'MAY', 
              6 : 'JUN',
              7 : 'JUL', 
              8 : 'AUG',
              9 : 'SEP',
              10 : 'OCT',
              11 : 'NOV',
              12 : 'DEC'
             }

cleaned_df = cleaned_df.replace({"MONTH": month_dict})

In [14]:
# Convert data types
cleaned_df['ARR_DEL15'] = cleaned_df['ARR_DEL15'].astype(int) 
cleaned_df['DEP_DEL15'] = cleaned_df['DEP_DEL15'].astype(int) 
cleaned_df['MONTH'] = cleaned_df['MONTH'].astype('category') 
cleaned_df['DAY_OF_WEEK'] = cleaned_df['DAY_OF_WEEK'].astype('category') 
cleaned_df['OP_CARRIER'] = cleaned_df['OP_CARRIER'].astype('category') 
cleaned_df['ORIGIN'] = cleaned_df['ORIGIN'].astype('category') 
cleaned_df['ORIGIN_CITY_NAME'] = cleaned_df['ORIGIN_CITY_NAME'].astype('category') 
cleaned_df['DEST'] = cleaned_df['DEST'].astype('category') 
cleaned_df['DEST_CITY_NAME'] = cleaned_df['DEST_CITY_NAME'].astype('category') 

cleaned_df.dtypes

YEAR                   int64
MONTH               category
DAY_OF_MONTH           int64
DAY_OF_WEEK         category
OP_CARRIER          category
ORIGIN              category
ORIGIN_CITY_NAME    category
DEST                category
DEST_CITY_NAME      category
DEP_DEL15              int32
ARR_DEL15              int32
dtype: object

In [15]:
# Remap DEP_DEL15 values
dep_dict = {0.0 : 0, 
            1.0 : 1
           }
 
cleaned_df = cleaned_df.replace({"DEP_DEL15": dep_dict})

In [16]:
# Remap ARR_DEL15 values
arr_dict = {0.0 : 0, 
            1.0 : 1
           }
 
cleaned_df = cleaned_df.replace({"ARR_DEL15": arr_dict})

In [17]:
# Data checkpoint
cleaned_df.value_counts('OP_CARRIER')

OP_CARRIER
Southwest Airlines    1476731
Delta Air Lines       1021903
American Airlines      989709
United Air Lines       745223
SkyWest Airlines       722245
Republic Airline       311469
JetBlue Airways        296276
Spirit Air Lines       270030
Alaska Airlines        258886
Envoy Air              241461
Endeavor Air           216387
PSA Airlines           203459
Frontier Airlines      175724
Allegiant Air          121675
Hawaiian Airlines       84534
Mesa Airlines           41819
Horizon Air             31881
dtype: int64

In [18]:
# Data checkpoint
cleaned_df.value_counts('DAY_OF_WEEK')

DAY_OF_WEEK
Monday       1078130
Thursday     1073734
Friday       1059962
Sunday       1029383
Wednesday    1027925
Tuesday      1018313
Saturday      921965
dtype: int64

In [19]:
# Data checkpoint
cleaned_df.value_counts('MONTH')

MONTH
AUG    1165761
JUL     585058
MAY     575429
MAR     571533
OCT     566492
JUN     562804
APR     550249
SEP     547728
NOV     539199
JAN     527197
DEC     525215
FEB     492747
dtype: int64

In [20]:
# Data checkpoint
cleaned_df.value_counts('DEP_DEL15')

DEP_DEL15
0    5640571
1    1568841
dtype: int64

In [21]:
# Data checkpoint
cleaned_df.value_counts('ARR_DEL15')

ARR_DEL15
0    5631761
1    1577651
dtype: int64

In [22]:
# Shuffle the dataset
cleaned_shuffled_df = cleaned_df.sample(frac=1).reset_index(drop=True)

# Print the shuffled DataFrame
print("\nShuffled DataFrame:")
print(cleaned_shuffled_df)

Shuffled DataFrame:
         YEAR MONTH  DAY_OF_MONTH DAY_OF_WEEK          OP_CARRIER ORIGIN  \
0        2022   NOV            14      Monday     Delta Air Lines    SEA
1        2022   DEC            11      Sunday     Delta Air Lines    EYW
2        2022   NOV            13      Sunday  Southwest Airlines    LAS
3        2022   NOV            27      Sunday   American Airlines    CLT
4        2022   DEC            26      Monday           Envoy Air    MIA
...       ...   ...           ...         ...                 ...    ...
7209407  2023   APR             8    Saturday     Alaska Airlines    SEA
7209408  2023   JUN            22    Thursday           Envoy Air    AUS
7209409  2023   AUG            27      Sunday    Republic Airline    PIT
7209410  2022   SEP             5      Monday    Spirit Air Lines    BWI
7209411  2023   MAY            16     Tuesday  Southwest Airlines    BWI

        ORIGIN_CITY_NAME DEST   DEST_CITY_NAME  DEP_DEL15  ARR_DEL15
0            Seattle, WA  LAX  Los Angeles, CA          0          0
1           Key West, FL  ATL      Atlanta, GA          1          1
2          Las Vegas, NV  LGB   Long Beach, CA          0          0
3          Charlotte, NC  GSP        Greer, SC          0          0
4              Miami, FL  TLH  Tallahassee, FL          1          1
...                  ...  ...              ...        ...        ...
7209407      Seattle, WA  SNA    Santa Ana, CA          0          0
7209408       Austin, TX  ABQ  Albuquerque, NM          0          0
7209409   Pittsburgh, PA  IAD   Washington, DC          0          0
7209410    Baltimore, MD  SJU     San Juan, PR          0          0
7209411    Baltimore, MD  DAL       Dallas, TX          1          0

[7209412 rows x 11 columns]

In [23]:
# Data checkpoint
cleaned_shuffled_df.head(2).append(cleaned_df.tail(2))

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_DEL15,ARR_DEL15
0,2022,NOV,14,Monday,Delta Air Lines,SEA,"Seattle, WA",LAX,"Los Angeles, CA",0,0
1,2022,DEC,11,Sunday,Delta Air Lines,EYW,"Key West, FL",ATL,"Atlanta, GA",1,1
602985,2023,AUG,31,Thursday,Republic Airline,ACK,"Nantucket, MA",JFK,"New York, NY",0,0
602986,2023,AUG,31,Thursday,Republic Airline,CMH,"Columbus, OH",JFK,"New York, NY",0,0

In [24]:
# Save new CSVs
# Selected arbitrary limit to reduce dataset for analysis
cleaned_shuffled_df.loc[0:150000].to_csv('Resources/prepared_dataset.csv', index= False)

# Keeping one full set for personal reference
# cleaned_df.to_csv("Resources/supplemental_dataset.csv", index= False)

## Part 2: Preparing dataset for modelling analysis

In [25]:
# Read the CSV file from the Resources folder into a Pandas DataFrame

analysis_df = pd.read_csv("Resources/prepared_dataset.csv")

# Remove additional columns
analysis_df = analysis_df.drop(columns=['ORIGIN_CITY_NAME', 
                                       'DEST_CITY_NAME', 
                                        'ARR_DEL15',
                                        "YEAR"
                                       ])

In [26]:
# Data checkpoint
analysis_df.head(2).append(analysis_df.tail(2))

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER,ORIGIN,DEST,DEP_DEL15
0,NOV,14,Monday,Delta Air Lines,SEA,LAX,0
1,DEC,11,Sunday,Delta Air Lines,EYW,ATL,1
149999,AUG,4,Friday,Republic Airline,LGA,BOS,0
150000,JUL,12,Wednesday,Endeavor Air,BTV,JFK,0

In [27]:
analysis_df.shape

(150001, 7)

In [28]:
# Save to new CSV
analysis_df.to_csv("Resources/analysis_df.csv", index= False)